// h4{
//     letter-spacing: 0.4em;
//     color: #585858;
//     margin-bottom: 0;
//     font-size: 18px;
//     text-transform: capitalize;
//     font-weight: 700;
//     line-height: 1;
// }

// h1 {
//     font-size: 60px;
//     color: #222222;
//     font-weight: 700;
//     text-transform: uppercase;
// }

// .btn-solid {
//     padding: 13px 29px;
//     color: #ffffff !important;
//     letter-spacing: 0.05em;
//     border: 2px solid #ff4c3b !important;
//     background-image: linear-gradient(30deg, #ff4c3b 50%, transparent 50%) !important;
//     background-size: 850px;
//     background-repeat: no-repeat;
//     background-position: 0;
// }