<!-- <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="home carousel-item" *ngFor="let slider of sliders">
              <div  [ngClass]="textClass" [ngStyle]="{'background-image': 'url('+slider.image+')'}">
                      <div class="slider-contain">
                        <div>
                          <h4>{{slider.title}}</h4>
                          <h1>{{slider.subTitle}}</h1>
                          <a [routerLink]="['/shop/collection/left/sidebar']" 
                             [queryParams]="{ category: category}" 
                             class="btn btn-solid" [ngClass]="buttonClass">
                             {{buttonText}}
                          </a>
                        </div>
                      </div>
              </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
    </div>	
</div>
 -->


 <div class="container my-5 home-slider" style="height: 100%;">
  <div id="carouselExampleAutoplaying" class="carousel slide " style="height: 100%;" data-bs-ride="carousel">
    <div class="carousel-inner" style="height: 100%;">
      <div class="carousel-item active" style="height: 100%;">
        <div class="home" style="height: 100% ;" [ngStyle]="{'background-image': 'url('+slider[0].image+')'}" >
          <div class="container">
            <div class="row">
              <div class="col">
                <div class="slider-contain">
                  <div>
                    <span style="margin: 100px;">
                      <h4 >{{slider[0].title}}</h4>
                      <h1 >{{slider[0].subTitle}}</h1>
                      <a  [routerLink]="['/shop/collection/left/sidebar']" 
                         [queryParams]="{ category: category}" 
                         class="btn btn-solid" [ngClass]="buttonClass">
                         {{buttonText}}
                      </a>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item" style="height: 100%;">
        <div class="home" [ngStyle]="{'background-image': 'url('+slider[1].image+')'}" style="height: 100%;" >
          <div class="container">
            <div class="row">
              <div class="col">
                <div class="slider-contain">
                  <div>
                    <span style="margin: 100px;">
                      <h4 >{{slider[1].title}}</h4>
                      <h1 >{{slider[1].subTitle}}</h1>
                      <a  [routerLink]="['/shop/collection/left/sidebar']" 
                         [queryParams]="{ category: category}" 
                         class="btn btn-solid" [ngClass]="buttonClass">
                         {{buttonText}}
                      </a>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

