// .sticky-top{
//     background-color: white;
// }
// .list-group-item{
//     border: none;
// }

// .dropdown:hover .dropdown-menu { 
//     display: block; 
//     border: none;
// } 

// .top-header {
//     background-color: #f8f8f8;
// }

// .top-header .header-contact li {
//     color: #999999;
//     background-color: #f8f8f8;
//     font-size: 14px;
//     padding-right: 25px;
// }

// .main-menu .menu-left .navbar {
//     display: inline-block;
//     padding: 40px 45px 40px 0;
// }

// .main-menu .brand-logo {
//     display: inline-block;
//     padding-top: 35px;
//     padding-bottom: 35px;
// }



// .top-header .header-contact li i {
//     color: #ff4c3b;
//     padding-right: 10px;
// }

// .text-end {
//     text-align: right !important;
// }

// .top-header .header-dropdown li {
//     cursor: pointer;
//     color: #999999;
//     background-color: #f8f8f8;
//     padding: 15px 25px;
// }

// .top-header .header-dropdown li a {
//     text-transform: capitalize;
//     color: #999999;
//     font-size: 14px;
//     background-color: #f8f8f8;
// }
// .top-header .header-dropdown li:first-child {
//     padding-right: 0;
// }
// .top-header .header-dropdown li:last-child {
//     padding-left: 0;
// }

// @media (min-width: 1430px){
// .container {
//     max-width: 1400px;
// }
// }

