<app-breadcrumb [title]="'Checkout'" [breadcrumb]="'Checkout'"></app-breadcrumb>
<!-- section start -->
<!-- <section class="section-b-space">
    <div class="container">
      <div class="checkout-page">
        <div class="checkout-form">
          <form>
            <div class="row">
              <div class="col-lg-6 col-sm-12 col-xs-12">
                <div class="checkout-title">
                  <h3>Billing Details</h3>
                </div>
                <div class="row">
                  <div class="form-group col-md-6 col-sm-6 col-xs-12">
                    <div class="field-label">First Name</div>
                    <input type="text" name="field-name" value="" placeholder="">
                  </div>
                  <div class="form-group col-md-6 col-sm-6 col-xs-12">
                    <div class="field-label">Last Name </div>
                    <input type="text" name="field-name" value="" placeholder="">
                  </div>
                  <div class="form-group col-md-6 col-sm-6 col-xs-12">
                    <div class="field-label">Phone</div>
                    <input type="text" name="field-name" value="" placeholder="">
                  </div>
                  <div class="form-group col-md-6 col-sm-6 col-xs-12">
                    <div class="field-label">Email Address</div>
                    <input type="text" name="field-name" value="" placeholder="">
                  </div>
                  <div class="form-group col-md-12 col-sm-12 col-xs-12">
                    <div class="field-label">Country</div>
                    <select>
                      <option>India</option>
                      <option>South Africa</option>
                      <option>United State</option>
                      <option>Australia</option>
                    </select>
                  </div>
                  <div class="form-group col-md-12 col-sm-12 col-xs-12">
                    <div class="field-label">Address</div>
                    <input type="text" name="field-name" value="" placeholder="Street address">
                  </div>
                  <div class="form-group col-md-12 col-sm-12 col-xs-12">
                    <div class="field-label">Town/City</div>
                    <input type="text" name="field-name" value="" placeholder="">
                  </div>
                  <div class="form-group col-md-12 col-sm-6 col-xs-12">
                    <div class="field-label">State / County</div>
                    <input type="text" name="field-name" value="" placeholder="">
                  </div>
                  <div class="form-group col-md-12 col-sm-6 col-xs-12">
                    <div class="field-label">Postal Code</div>
                    <input type="text" name="field-name" value="" placeholder="">
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <div class="stripe-section">
                      <h5>stripe js</h5>
                      <div class="content">
                        <h5>dummy test</h5>
                        <table>
                          <tr>
                            <td>cart number</td>
                            <td>4242424242424242</td>
                          </tr>
                          <tr>
                            <td>mm/yy</td>
                            <td>2/2020</td>
                          </tr>
                          <tr>
                            <td>cvc</td>
                            <td>2222</td>
                          </tr>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row margin-cls">
                  <div class="col-12">
                    <div class="stripe-section">
                      <h5>paypal</h5>
                      <div class="content">
                        <h5>dummy test</h5>
                        <h5>I set total payment to $0.01 for static demo</h5>
                        <table>
                          <tr>
                            <td>cart number</td>
                            <td>4152521541244</td>
                          </tr>
                          <tr>
                            <td>mm/yy</td>
                            <td>11/18</td>
                          </tr>
                          <tr>
                            <td>cvc</td>
                            <td>521</td>
                          </tr>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-sm-12 col-xs-12">
                <div class="checkout-details">
                  <div class="order-box">
                    <div class="title-box">
                      <div>Product <span> Total</span></div>
                    </div>
                    <ul class="qty">
                      <li>Pink Slim Shirt × 1 <span>$25.10</span></li>
                      <li>SLim Fit Jeans × 1 <span>$555.00</span></li>
                    </ul>
                    <ul class="sub-total">
                      <li>Subtotal <span class="count">$380.10</span></li>
                      <li>Shipping <div class="shipping">
                        <div class="shopping-option">
                          <input type="checkbox" name="free-shipping" id="free-shipping">
                          <label for="free-shipping">Free Shipping</label>
                        </div>
                        <div class="shopping-option">
                          <input type="checkbox" name="local-pickup" id="local-pickup">
                          <label for="local-pickup">Local Pickup</label>
                        </div>
                      </div>
                      </li>
                    </ul>
  
                    <ul class="total">
                      <li>Total <span class="count">$620.00</span></li>
                    </ul>
                  </div>
  
                  <div class="payment-box">
                    <div class="upper-box">
                      <div class="payment-options">
                        <ul>
                          <li>
                            <div class="radio-option">
                              <input type="radio" name="payment-group" id="payment-1" checked>
                              <label for="payment-1">Check Payments<span class="small-text">Please send a check to Store Name, Store Street, Store Town, Store State / County, Store Postcode.</span></label>
                            </div>
                          </li>
  
                          <li>
                            <div class="radio-option">
                              <input type="radio" name="payment-group" id="payment-2">
                              <label for="payment-2">Cash On Delivery<span class="small-text">Please send a check to Store Name, Store Street, Store Town, Store State / County, Store Postcode.</span></label>
                            </div>
                          </li>
                          <li>
                            <div class="radio-option paypal">
                              <input type="radio" name="payment-group" id="payment-3">
                              <label for="payment-3">PayPal<span class="image"><img src="assets/images/paypal.png" alt="" /></span></label>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="text-end">
                      <a [routerLink]="['shop/checkout']" class="btn-solid btn">Place Order</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
</section> -->
<section class="section-b-space">
  <div class="container">
    <div class="checkout-page">
      <h3 class="bil mb-4">Billing details</h3>
      <form action="#">
        <div class="row g-5">
          <div class="col-md-12 col-lg-6 col-xl-7">
            <div class="row">
              <div class="col-md-12 col-lg-6">
                <div class="form-item w-100">
                  <label class="form-label my-3">First Name<sup>*</sup></label>
                  <input type="text" class="form-control">
                </div>
              </div>
              <div class="col-md-12 col-lg-6">
                <div class="form-item w-100">
                  <label class="form-label my-3">Last Name<sup>*</sup></label>
                  <input type="text" class="form-control">
                </div>
              </div>
            </div>
            <div class="form-item">
              <label class="form-label my-3">Company Name<sup>*</sup></label>
              <input type="text" class="form-control">
            </div>
            <div class="form-item">
              <label class="form-label my-3">Address <sup>*</sup></label>
              <input type="text" class="form-control" placeholder="House Number Street Name">
            </div>
            <div class="form-item">
              <label class="form-label my-3">Town/City<sup>*</sup></label>
              <input type="text" class="form-control">
            </div>
            <div class="form-item">
              <label class="form-label my-3">Country<sup>*</sup></label>
              <input type="text" class="form-control">
            </div>
            <div class="form-item">
              <label class="form-label my-3">Postcode/Zip<sup>*</sup></label>
              <input type="text" class="form-control">
            </div>
            <div class="form-item">
              <label class="form-label my-3">Mobile<sup>*</sup></label>
              <input type="tel" class="form-control">
            </div>
            <div class="form-item">
              <label class="form-label my-3">Email Address<sup>*</sup></label>
              <input type="email" class="form-control">
            </div>
            <div class="form-check my-3">
              <input type="checkbox" class="form-check-input" id="Account-1" name="Accounts" value="Accounts">
              <label class="form-check-label" for="Account-1">Create an account?</label>
            </div>
            <hr>
            <div class="form-check my-3">
              <input class="form-check-input" type="checkbox" id="Address-1" name="Address" value="Address">
              <label class="form-check-label" for="Address-1">Ship to a different address?</label>
            </div>
            <div class="form-item">
              <textarea name="text" class="form-control" spellcheck="false" cols="30" rows="11"
                placeholder="Oreder Notes (Optional)"></textarea>
            </div>
          </div>
          <div class="col-md-12 col-lg-6 col-xl-5">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Products</th>
                    <th scope="col">Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Total</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">
                      <div class="d-flex align-items-center mt-2">
                        <img src="assets/images/product/fashion/1.jpg" class="img-fluid rounded-circle"
                          style="width: 90px; height: 90px;" alt="">
                      </div>
                    </th>
                    <td class="py-5">Awesome Brocoli</td>
                    <td class="py-5">$69.00</td>
                    <td class="py-5">2</td>
                    <td class="py-5">$138.00</td>
                  </tr>
                  <tr>
                    <th scope="row">
                      <div class="d-flex align-items-center mt-2">
                        <img src="assets/images/product/fashion/4.jpg" class="img-fluid rounded-circle"
                          style="width: 90px; height: 90px;" alt="">
                      </div>
                    </th>
                    <td class="py-5">Potatoes</td>
                    <td class="py-5">$69.00</td>
                    <td class="py-5">2</td>
                    <td class="py-5">$138.00</td>
                  </tr>
                  <tr>
                    <th scope="row">
                      <div class="d-flex align-items-center mt-2">
                        <img src="assets/images/product/fashion/3.jpg" class="img-fluid rounded-circle"
                          style="width: 90px; height: 90px;" alt="">
                      </div>
                    </th>
                    <td class="py-5">Big Banana</td>
                    <td class="py-5">$69.00</td>
                    <td class="py-5">2</td>
                    <td class="py-5">$138.00</td>
                  </tr>
                  <tr>
                    <th scope="row">
                    </th>
                    <td class="py-5"></td>
                    <td class="py-5"></td>
                    <td class="py-5">
                      <p class="mb-0 text-dark py-3">Subtotal</p>
                    </td>
                    <td class="py-5">
                      <div class="py-3 border-bottom border-top">
                        <p class="mb-0 text-dark">$414.00</p>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">
                    </th>
                    <td class="py-5">
                      <p class="mb-0 text-dark py-4">Shipping</p>
                    </td>
                    <td colspan="3" class="py-5">
                      <div class="form-check text-start">
                        <input type="checkbox" class="form-check-input bg-primary border-0" id="Shipping-1"
                          name="Shipping-1" value="Shipping">
                        <label class="form-check-label" for="Shipping-1">Free Shipping</label>
                      </div>
                      <div class="form-check text-start">
                        <input type="checkbox" class="form-check-input bg-primary border-0" id="Shipping-2"
                          name="Shipping-1" value="Shipping">
                        <label class="form-check-label" for="Shipping-2">Flat rate: $15.00</label>
                      </div>
                      <div class="form-check text-start">
                        <input type="checkbox" class="form-check-input bg-primary border-0" id="Shipping-3"
                          name="Shipping-1" value="Shipping">
                        <label class="form-check-label" for="Shipping-3">Local Pickup: $8.00</label>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">
                    </th>
                    <td class="py-5">
                      <p class="mb-0 text-dark text-uppercase py-3">TOTAL</p>
                    </td>
                    <td class="py-5"></td>
                    <td class="py-5"></td>
                    <td class="py-5">
                      <div class="py-3 border-bottom border-top">
                        <p class="mb-0 text-dark">$135.00</p>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="row g-4 text-center align-items-center justify-content-center border-bottom py-3">
              <div class="col-12">
                <div class="form-check text-start my-3">
                  <input type="checkbox" class="form-check-input bg-primary border-0" id="Transfer-1" name="Transfer"
                    value="Transfer">
                  <label class="form-check-label" for="Transfer-1">Direct Bank Transfer</label>
                </div>
                <p class="text-start text-dark">Make your payment directly into our bank account. Please use your Order
                  ID as the payment reference. Your order will not be shipped until the funds have cleared in our
                  account.</p>
              </div>
            </div>
            <div class="row g-4 text-center align-items-center justify-content-center border-bottom py-3">
              <div class="col-12">
                <div class="form-check text-start my-3">
                  <input type="checkbox" class="form-check-input bg-primary border-0" id="Payments-1" name="Payments"
                    value="Payments">
                  <label class="form-check-label" for="Payments-1">Check Payments</label>
                </div>
              </div>
            </div>
            <div class="row g-4 text-center align-items-center justify-content-center border-bottom py-3">
              <div class="col-12">
                <div class="form-check text-start my-3">
                  <input type="checkbox" class="form-check-input bg-primary border-0" id="Delivery-1" name="Delivery"
                    value="Delivery">
                  <label class="form-check-label" for="Delivery-1">Cash On Delivery</label>
                </div>
              </div>
            </div>
            <div class="row g-4 text-center align-items-center justify-content-center border-bottom py-3">
              <div class="col-12">
                <div class="form-check text-start my-3">
                  <input type="checkbox" class="form-check-input bg-primary border-0" id="Paypal-1" name="Paypal"
                    value="Paypal">
                  <label class="form-check-label" for="Paypal-1">Paypal</label>
                </div>
              </div>
            </div>
            <div class="row g-4 text-center align-items-center justify-content-center pt-4">
              <a [routerLink]="['/pages/success']" type="button"
                class="btn btn-solid py-3 px-4 text-uppercase w-100 text-primary">Place Order</a>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
<!-- section End -->