.carousel-indicators .owl-thumb {
    width: 120px; /* Adjust width as needed */
    margin-right: 10px; /* Adjust margin as needed */
  }
  
  .carousel-indicators .owl-thumb img {
    width: 100%; /* Ensure the image fills the indicator */
    height: auto; /* Maintain aspect ratio */
    position: relative;
    top: 50px;
  }
