// .title{
//     font-size: 60px;
//     color: #222222;
//     font-weight: 700;
//     text-transform: uppercase;
// }

// .save{
//     color: #ff4c3b;
// }
// .titleOffer{
//     color: #ff4c3b;
//     font-size: 18px;
//     text-transform: capitalize;
//     font-weight: 400;
//     letter-spacing: 0.03em;
//     line-height: 1;
// }

//  .section-t-space {
//     padding-top: 70px;
// }

// .title1{
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
// }

// .titleCollection{
//     font-size: 36px;
//     color: #222222;
//     text-transform: uppercase;
//     font-weight: 700;
//     line-height: 1;
//     letter-spacing: 0.02em;
// }
// p{
//     font-size: 14px;
//     color: #777777;
//     margin-bottom: 0;
//     padding-bottom: 30px;
//     line-height: 24px;
//     letter-spacing: 0.05em;
// }
// hr.style1 {
//     width: 75px;
//     height: 3px;
//     background-color: #ff4c3b;
//     text-align: center;
//     align-items: center;
//     opacity: 1;
//     margin-left: auto;
//     margin-right: auto;
//     color: inherit;
//     border: 0;
//     padding-bottom: 5px;
//     margin-bottom: 30px;
// }
// hr{
//     margin: 0px;
// }

// h4 {
//     color: #ff4c3b;
//     padding-bottom: 10px;
//     margin-bottom: 0;
//     margin-top: -3px;
//     font-size: 18px;
//     text-transform: capitalize;
//     font-weight: 400;
//     letter-spacing: 0.03em;
//     line-height: 1;
// }


// h2 {
//     font-size: 36px;
//     color: #222222;
//     text-transform: uppercase;
//     font-weight: 700;
//     line-height: 1;
//     letter-spacing: 0.02em;
// }

// .border-section {
//     border-top: 1px solid #dddddd;
//     border-bottom: 1px solid #dddddd;
// }

// .full-banner.parallax {
//     background-attachment: fixed;
//     height: 1000px;
// }

// .full-banner .banner-contain h2, .full-banner .banner-contain .h2 {
//     font-size: 100px;
//     font-weight: 700;
//     color:  #ff4c3b;
//     text-transform: uppercase;
//     margin-top: -15px;
//     line-height: 1;
//     letter-spacing: 0.02em;
// }

// .full-banner .banner-contain h3, .full-banner .banner-contain .h3 {
//     font-size: 60px;
//     color: #333333;
//     text-transform: uppercase;
//     font-weight: 700;
// }
// .full-banner.p-left .banner-contain {
//     float: left;
// }
// .full-banner .banner-contain h4, .full-banner .banner-contain .h4 {
//     font-size: 24px;
//     color: #7f2f2f;
//     font-weight: 600;
//     text-transform: uppercase;
//     letter-spacing: 0.5em;
//     padding-top: 10px;
//     margin-bottom: -5px;
//     line-height: 1.3;
// }

.border-section {
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
}

.small-section {
    padding-top: 35px;
    padding-bottom: 35px;
}

.productt{
    display: none;
}


.swiper-wrapper, .swiper-container {
    // width: 100vw;
    // height: 100vh;
    display: flex;
  }