//  .navbar {
//     display: inline-block;
//     padding: 40px 45px 40px 0;
// }

//  .navbar i {
//     font-size: 24px;
//     color: #222222;
//     cursor: pointer;
// }

// .navbar-toggler{
//     border: none;
// }

// // .offcanvas {
// //     z-index: 1; /* Ensure the offcanvas has a higher z-index than the backdrop */
// // }


// .dropdown .dropdown-menu[data-bs-popper] {
//     position: relative;
//     top: -100%; /* Position above the offcanvas */
//     left:0;
//     z-index: 2040; 
// }
