<div>
  <div class="img-wrapper">
    <span class="placeholder" style="height: 280px; background-color: #e8e8e8"></span>
  </div>
  <div class="product-detail">
    <h4>
      <span class="placeholder"
        style="height: 15px; width:130px; background-color: #e8e8e8; border-radius: '15px'; margin-bottom: 6px;"></span>
    </h4>
    <h5>
      <span class="placeholder"
        style="height: 12px; width:160px; background-color: #e8e8e8; border-radius: '15px';"></span>
    </h5>
    <h6>
      <span class="placeholder"
        style="height: 14px; width:70px; background-color: #e8e8e8; border-radius: '15px';"></span>
    </h6>
  </div>
</div>