.service-block {
    display: flex;
    align-items: center;
    justify-content: center;
}

.service-block + .service-block {
    border-left: 1px solid #dddddd;
}
.service-block .media {
    display: flex;
    padding-top: 23px;
    padding-bottom: 23px;
    align-items: center;
}
.service-block svg {
    margin-right: 12px;
    width: 60px;
    height: 60px;
    transition: all 0.5s ease;
    vertical-align: middle;
}