<!-- side-bar single product slider start -->
<div class="theme-card">
  <!-- <owl-carousel-o [options]="NewProductSliderConfig" class="offer-slider">
        <ng-container *ngFor="let product of products | slice:0:3 ">  
            <ng-template carouselSlide>
                <div>
                  <div class="d-flex align-items-center" *ngFor="let product of products | slice:0:3 ">
                    <a [routerLink]="['/shop/product/left/sidebar/', product.title?.replace(' ', '-')]">
                      <img class="img-fluid w-auto"
                           [src]="product.images? product.images[0].src: ''" alt="">
                    </a>
                    <div class="media-body align-self-center"> -->
  <!-- <bar-rating [rate]="5" [readOnly]="true"></bar-rating> -->
  <!-- <a [routerLink]="['/shop/product/left/sidebar/', product.title?.replace(' ', '-')]">
                      <h6>{{ product.title | titlecase }}</h6></a>
                      <h4>
                        {{ product?.price * productService.Currency?.price | discount:product | currency:productService.Currency?.currency:'symbol' }}
                        <del *ngIf="product?.discount">
                          <span class="money"> 
                            {{ product?.price * productService.Currency?.price | currency:productService.Currency?.currency:'symbol' }}
                          </span>
                        </del>
                      </h4>
                    </div>
                  </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div>
                  <div class="d-flex align-items-center" *ngFor="let product of products | slice:3:6 ">
                    <a [routerLink]="['/shop/product/left/sidebar/', product.title?.replace(' ', '-')]">
                      <img class="img-fluid w-auto" 
                           [src]="product.images? product.images[0].src: ''" alt="">
                    </a>
                    <div class="media-body align-self-center"> -->
  <!-- <bar-rating [rate]="5" [readOnly]="true"></bar-rating> -->
  <!-- <a [routerLink]="['/shop/product/left/sidebar/', product.title?.replace(' ', '-')]">
                      <h6>{{ product.title | titlecase }}</h6></a>
                      <h4>
                        {{ product?.price * productService.Currency?.price | discount:product | currency:productService.Currency?.currency:'symbol' }}
                        <del *ngIf="product?.discount">
                          <span class="money"> 
                            {{ product?.price * productService.Currency?.price | currency:productService.Currency?.currency:'symbol' }}
                          </span>
                        </del>
                      </h4>
                    </div>
                  </div>
                </div>
            </ng-template>
        </ng-container>
    </owl-carousel-o> -->

  <div id="newProduct" class="carousel slide offer-slider" data-bs-ride="carousel">
    <h5 class="title-border">{{ title }}</h5>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <ng-container *ngFor="let product of products | slice:0:3">
          <div class="d-flex align-items-center">
            <a [routerLink]="['/shop/product/left/sidebar/', product.title?.replace(' ', '-')]">
              <img class="img-fluid w-auto" [src]="product.images ? product.images[0].src : ''" alt="">
            </a>
            <div class="media-body align-self-center">
              <a [routerLink]="['/shop/product/left/sidebar/', product.title?.replace(' ', '-')]">
                <h6>{{ product.title | titlecase }}</h6>
              </a>
              <h4>
                {{ product?.price? product?.price:0 * productService.Currency.price | discount:product |
                currency:productService.Currency?.currency:'symbol' }}
                <del *ngIf="product?.discount">
                  <span class="money">
                    {{ product?.price? product?.price:0 * productService.Currency.price |
                    currency:productService.Currency?.currency:'symbol' }}
                  </span>
                </del>
              </h4>
            </div>
          </div>
        </ng-container>
      </div>
      <div class="carousel-item">
        <ng-container *ngFor="let product of products | slice:3:6">
          <div class="d-flex align-items-center">
            <a [routerLink]="['/shop/product/left/sidebar/', product.title?.replace(' ', '-')]">
              <img class="img-fluid w-auto" [src]="product.images ? product.images[0].src : ''" alt="">
            </a>
            <div class="media-body align-self-center">
              <a [routerLink]="['/shop/product/left/sidebar/', product.title?.replace(' ', '-')]">
                <h6>{{ product.title | titlecase }}</h6>
              </a>
              <h4>
                {{ product?.price? product?.price:0 * productService.Currency.price | discount:product |
                currency:productService.Currency?.currency:'symbol' }}
                <del *ngIf="product?.discount">
                  <span class="money">
                    {{ product?.price? product?.price:0 * productService.Currency.price |
                    currency:productService.Currency?.currency:'symbol' }}
                  </span>
                </del>
              </h4>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
    <a class="carousel-control-prev" role="button" data-bs-target="#newProduct" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" role="button" data-bs-target="#newProduct" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

</div>
<!-- side-bar single product slider end -->