 .title_confirmation {
    text-align: center;
    color: var(--theme-deafult);
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 80px;
}

.order_d_inner{
	.details_item{
		h4{
			border-bottom: 1px solid #eee;
			padding-bottom: 12px;
			font-size: 18px;
			color: var(--theme-deafult);
			padding-left: 18px;
		}
		.list{
			padding-left: 18px;
			@media (min-width: 767px) {
				margin-bottom: 30px;
			}
			li{
				margin-bottom: 8px;
				&:last-child{
					margin-bottom: 0px;
				}
				a{
					font-size: 14px;
					color: var(--theme-deafult);
					span{
						width: 145px;
						display: inline-block;
						color: black;
					}
				}
			}
		}
	}
}
.order_details_table{
	background: #f8f8f8;
	padding: 30px;
	margin-top: 75px;
	@media (min-width: 767px) {
		margin-top: 45px;
	}
	h2{
		color: var(--theme-deafult);
		font-size: 18px;
		padding-bottom: 15px;
	}
	.table{
		margin-bottom: 0px;
		thead{
			tr{
				th{
					border-bottom: 1px solid #ddd;
					font-size: 14px;
					font-weight: normal;
				}
			}
		}
		tbody{
			tr{
				td{
					p{
						margin-bottom: 0px;
					}
					h5{
						color: var(--theme-deafult);
						margin-bottom: 0px;
					}
					h4{
						font-size: 14px;
						text-transform: uppercase;
						margin-bottom: 0px;
						color: var(--theme-deafult);
					}
				}
				&:last-child{
					td{
						border-top: 1px solid #ddd;
						p{
							color: var(--theme-deafult);
						}
					}
				}
			}
		}
	}
}