<!-- price filter start here -->
<div class="collection-collapse-block border-0" [class.open]="collapse">
    <h3 class="collapse-block-title" (click)="collapse = !collapse">price</h3>
    <div class="collection-collapse-block-content">
        <div class="collection-brand-filter">
            <div class="mt-2">
                <input type="range" class="form-range" [(ngModel)]="min" [(ngModel)]="max"
                    [ngModelOptions]="{standalone: true}" (change)="appliedFilter($event.target)" *ngIf="isBrowser">
            </div>
        </div>
    </div>
</div>