<!-- <div  class="d-flex" style="flex-direction: row;">
    <ng-container *ngFor="let logo of logos">
        <div>
          <div class="logo-block">
            <a [routerLink]="'/home/fashion'">
              <img [src]="logo.image" alt="logo" class="w-auto">
            </a>
          </div>
        </div>
    </ng-container>
</div> -->
<div class="container my-5 ">
    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="d-flex justify-content-between align-items-center">
            <img src="assets/images/logos/1.png" class="d-block" alt="logo1">
            <img src="assets/images/logos/2.png" class="d-block" alt="logo2">
            <img src="assets/images/logos/3.png" class="d-block" alt="logo3">
            <img src="assets/images/logos/4.png" class="d-block" alt="logo3">
        </div>
        </div>
       
        <div class="carousel-item ">
            <div class="d-flex justify-content-between align-items-center">
              <img src="assets/images/logos/5.png" class="d-block" alt="logo4">
              <img src="assets/images/logos/6.png" class="d-block" alt="logo5">
              <img src="assets/images/logos/7.png" class="d-block" alt="logo6">
              <img src="assets/images/logos/8.png" class="d-block" alt="logo3">
            </div>
          </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
</div>
  