<app-breadcrumb [title]="'Elements'" [breadcrumb]="'Home Slider'"></app-breadcrumb>

<div class="container">
  <!-- Home slider start-->
  <section class="section-b-space">
    <!-- <owl-carousel-o [options]="HomeSliderConfig" class="home-slider">
      <ng-template carouselSlide>
        <div class="home text-center" [ngStyle]="{'background-image': 'url(assets/images/slider/1.jpg)'}">
          <div class="container">
            <div class="row">
              <div class="col">
                <div class="slider-contain">
                  <div>
                    <h4>welcome to fashion</h4>
                    <h1>Men fashion</h1>
                    <a [routerLink]="['/shop/collection/left/sidebar']" [queryParams]="{ category: 'fashion'}" class="btn btn-solid">shop now</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="home text-center" [ngStyle]="{'background-image': 'url(assets/images/slider/2.jpg)'}">
          <div class="container">
            <div class="row">
              <div class="col">
                <div class="slider-contain">
                  <div>
                    <h4>welcome to fashion</h4>
                    <h1>Women fashion</h1>
                    <a [routerLink]="['/shop/collection/left/sidebar']" [queryParams]="{ category: 'fashion'}" class="btn btn-solid">shop now</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </owl-carousel-o> -->
    <div id="carouselExampleControls" class="carousel slide home-slider" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="home text-center" [ngStyle]="{'background-image': 'url(assets/images/slider/1.jpg)'}">
            <div class="container">
              <div class="row">
                <div class="col">
                  <div class="slider-contain">
                    <div>
                      <h4>welcome to fashion</h4>
                      <h1>Men fashion</h1>
                      <a [routerLink]="['/shop/collection/left/sidebar']" [queryParams]="{ category: 'fashion'}"
                        class="btn btn-solid">shop now</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="home text-center" [ngStyle]="{'background-image': 'url(assets/images/slider/2.jpg)'}">
            <div class="container">
              <div class="row">
                <div class="col">
                  <div class="slider-contain">
                    <div>
                      <h4>welcome to fashion</h4>
                      <h1>Women fashion</h1>
                      <a [routerLink]="['/shop/collection/left/sidebar']" [queryParams]="{ category: 'fashion'}"
                        class="btn btn-solid">shop now</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </section>
  <!-- Home slider End -->
</div>

<div class="container section-b-space">
  <div class="row">
    <div class="col">
      <div class="card">
        <h5 class="card-header">Classes</h5>
        <div class="card-body">
          <h5 class="card-title">For Parallax Image - .parallax</h5>
          <h5>contain-align - .text-start, .text-center, .text-end</h5>
          <h5>contain-position - .p-left, .p-center, .p-right</h5>
        </div>
      </div>
    </div>
  </div>
</div>