.small-section{
    padding: 35px 0px;
}
 .subscribe {
    display: flex;
    height: 100%;
    align-items: center;
    border-right: 1px solid #dddddd;
    text-align: left;
}

 h4 {
    color: #222222;
    text-transform: uppercase;
    font-weight: 700;
    display: block;
    margin-bottom: 15px;
    margin-top: -5px;
    font-size: 18px;
    letter-spacing: 0.03em;
    line-height: 1;
}
.subscribe-form {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: flex-end;
}

.subscribe-form .form-control {
    padding: 13px;
    width: 345px;
    border-radius: 0;
    border: 1px solid #eeeeee;
}

.btn-solid {
    padding: 13px 29px;
    color: #ffffff !important;
    letter-spacing: 0.05em;
    border: 2px solid #ff4c3b !important;
    border-radius: 0;
    line-height: 20px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    background-image: linear-gradient(30deg, #ff4c3b 50%, transparent 50%) !important;
    background-size: 850px;
    background-repeat: no-repeat;
    background-position: 0;
}

    li {
        position: relative;
        
        line-height: 28px;
        display: inherit;
        padding-top: 13px;
        text-transform: capitalize;
        font-size: 14px;
        color: #777777;
        span{
            padding-left: 25px;
        }
    }
.footer-contant , .contact-list{
    padding-left: 0px;
    align-items: left;
}
 
a{
    position: relative;
    color: #777777;
    text-decoration: none
}

section {
    padding-top: 70px;
}

.footer-theme .footer-logo {
    margin-bottom: 18px;
}

footer p {
    line-height: 32px;
    letter-spacing: 0.03em;
    margin-bottom: 0;
}

.footer-social, .social-white {
    margin-top: 40px;
    display: flex;
    align-items: center;
    padding-left: 0px;
}

.footer-social li, .social-white li {
    display: inline-block;
    padding-right: 45px;
}

.footer-social i, .social-white i {
    font-size: 20px;
    color: #000000;
}

.sub-footer p {
    color: #777777;
    margin-bottom: 0;
    padding: 20px 0;
}

.sub-footer .payment-card-bottom {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.sub-footer .payment-card-bottom li {
    padding-left: 7px;
    padding-right: 7px;
    display: inline-block;
}

.border-section {
    border-bottom: 1px solid #dddddd;
}