.header-cart {
    position: fixed;
    z-index: 1100;
    width: 390px;
    max-width: calc(100% - 30px);
    height: 100vh;
    top: 0;
    right: -400px;
    background-color: #fff;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.34;
    transition: all 0.4s;
    box-shadow: 0 3px 6px 0px rgba(0, 0, 0, 0.18);
    -moz-box-shadow: 0 3px 6px 0px rgba(0, 0, 0, 0.18);
    -webkit-box-shadow: 0 3px 6px 0px rgba(0, 0, 0, 0.18);
    -o-box-shadow: 0 3px 6px 0px rgba(0, 0, 0, 0.18);
    -ms-box-shadow: 0 3px 6px 0px rgba(0, 0, 0, 0.18);
}

.offcanvas-body {
    flex-grow: 1;
    padding: 0px 25px;
    overflow-y: auto;
}

.offcanvas-header{
    padding: 0px 25px;
}

.flex-t {
    -ms-align-items: flex-start;
    align-items: flex-start;
    margin-bottom: 12px;
}

.header-cart-title {
    width: 260px;
    max-width: 100%;
    height: 16.5%;
    min-height: 85px;
}

.mtext-103 {
    font-size: 18px;
    line-height: 1.333333;
    text-transform: uppercase;
}
  
  .header-cart-content {
    flex-grow: 1;
    overflow: auto;
    align-content: space-between;
  }
  
  .header-cart-wrapitem {
    flex-grow: 1;
  }

  .flex-w {
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
}
/*---------------------------------------------*/

.header-cart-item {
    display: flex;
    align-items: center; /* Align items vertically centered */
}


.header-cart-item-img {
    width: 60px;
    position: relative;
    margin-right: 20px;
    cursor: pointer;
}
  
  .header-cart-item-img img {
    width: 100%;
  }
  
  .header-cart-item-img::after {
    content: '\e870';
    font-size: 16px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    color: #fff;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
    opacity: 0;
  }
  
  .header-cart-item-img:hover:after {
    opacity: 1;
  }

.header-cart-item-txt {
    width: calc(100% - 80px);
    flex-grow: 1; /* Allow the text to grow and fill available space */

  }
  
  .header-cart-item-name {
    display: block;
    font-size: 14px;
    color: #555;
    line-height: 1.3;
  }
  
  .header-cart-item-info {
    display: block;
    font-size: 14px;
    color: #888;
    line-height: 1.5;
  }

.header-cart-total {
    font-size: 18px;
    color: #222;
    line-height: 1.3;
    padding: 40px 0px;
}