<nav class="navbar navbar-expand-lg navbar-light ">
  <div class="icon-nav container-fluid">
    <ul class="navbar-nav">
      <li class="nav-item mx-1 onhover-div mobile-search search-widgets" id="search-widgets">
        <div (click)="searchToggle()">
          <img src="assets/images/icon/search.png" class="img-fluid" alt="">
          <i class="ti-search"></i>
        </div>
        <div id="search-overlay" class="search-overlay" [ngStyle]="{'display': search ? 'block' : 'none' }">
          <div>
            <span class="closebtn" title="Close Overlay" (click)="searchToggle()">×</span>
            <div class="overlay-content">
              <div class="container">
                <div class="row">
                  <div class="col-xl-12">
                    <form>
                      <div class="form-group">
                        <input type="text" class="form-control" id="exampleInputPassword1"
                          placeholder="Search a Product">
                      </div>
                      <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="nav-item mx-2 dropdown onhover-div mobile-setting">
        <div id="navbarDropdown" data-bs-toggle="dropdown"><img src="assets/images/icon/setting.png"
            aria-expanded="false" alt="settong">
          <i class="ti-settings"></i>
        </div>
        <div class="dropdown-menu dropdown show-div setting" aria-labelledby="navbarDropdown">
          <h6 class="dropdown-item " id="navDropdown" data-bs-toggle="dropdown">language</h6>
          <ul class="dropdown-menu" aria-labelledby="navDropdown">
            <li *ngFor="let language of languages">
              <a class="dropdown-item" href="javascript:void(0)" (click)="changeLanguage(language.code)">{{
                language.name }}</a>
            </li>
          </ul>
          <h6 class="dropdown-item">currency</h6>
          <ul class="list-inline">
            <li *ngFor="let currency of currencies">
              <a href="javascript:void(0)" (click)="changeCurrency(currency)">{{ currency.name }}</a>
            </li>
          </ul>
        </div>
      </li>
      <li class="nav-item mx-1 onhover-div mobile-cart" data-bs-toggle="offcanvas" data-bs-target="#cartCanvas">
        <div>
          <a>
            <img src="assets/images/icon/cart.png" class="img-fluid" alt="">
            <i class="ti-shopping-cart"></i>
          </a>
        </div>
        <span class="cart_qty_cls">{{ products?.length }}</span>
        <!-- <ul class="show-div shopping-cart" *ngIf='!products?.length'>
          <h5>Your cart is currently empty.</h5>
        </ul> -->

        <!-- <ul class="show-div shopping-cart" *ngIf='products && products.length > 0'>
          <li *ngFor="let product of products">
            <div class="media">
              <a [routerLink]="['/shop/product/left/sidebar/', replaceFunction(product.title)]" *ngIf="product?.images?.length">
                <img class="me-3" 
                 [src]="product?.images?.[0]?.src" [alt]="product?.images?.[0]?.alt">
              </a>
              <div class="media-body">
                <a [routerLink]="['/shop/product/left/sidebar/',replaceFunction(product.title)]">
                  <h4>{{ product?.title }}</h4>
                </a>
                <h4>
                  <span *ngIf="product">
                    {{ product?.quantity }} x 
                    {{ (product?.price ?? 0) * productService.Currency.price  | discount:product | currency:productService.Currency.currency:'symbol' }}
                  </span>
                </h4>
              </div>
            </div>
            <div class="close-circle" (click)="removeItem(product)">
              <a href="javascript:void(0)"><i class="fa fa-times" aria-hidden="true"></i></a>
            </div>
          </li>
          <li>
            <div class="total">
              <h5>subtotal : <span>{{ getTotal | async | currency:productService.Currency.currency:'symbol' }}</span></h5>
            </div>
          </li>
          <li>
            <div class="buttons">
              <a [routerLink]="['/shop/cart']" class="view-cart">view cart</a>
              <a [routerLink]="['/shop/checkout']" class="checkout">checkout</a>
            </div>
          </li>
        </ul> -->
      </li>
    </ul>
  </div>
</nav>
<div class="wrap-header-cart offcanvas offcanvas-end" id="cartCanvas" tabindex="-1" aria-labelledby="cartCanvasLabel">
  <div class="header-cart-title justify-content-between flex-w flex-sb-m p-b-8 offcanvas-header">
    <span class="mtext-103 cl2 offcanvas-title" id="cartCanvasLabel">
      Your Cart
    </span>

    <div class="fs-35 lh-10 cl2 p-lr-5 pointer hov-cl1 trans-04 js-hide-cart">
      <!-- <i class="zmdi zmdi-close"></i> -->
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
  </div>
  <div class="header-cart-content flex-w js-pscroll offcanvas-body">
    <ul class="header-cart-wrapitem w-full">
      <li class=" header-cart-item flex-w flex-t m-b-12">
        <div class="header-cart-item-img">
          <img src="assets/images/product/fashion/7.jpg" alt="IMG">
        </div>

        <div class="header-cart-item-txt p-t-8">
          <a href="#" class="header-cart-item-name m-b-18 hov-cl1 trans-04">
            White Shirt Pleat
          </a>

          <span class="header-cart-item-info">
            1 x $19.00
          </span>
        </div>
      </li>

      <li class=" header-cart-item flex-w flex-t m-b-12">
        <div class="header-cart-item-img">
          <img src="assets/images/product/fashion/8.jpg" alt="IMG">
        </div>

        <div class="header-cart-item-txt p-t-8">
          <a href="#" class="header-cart-item-name m-b-18 hov-cl1 trans-04">
            Converse All Star
          </a>

          <span class="header-cart-item-info">
            1 x $39.00
          </span>
        </div>
      </li>

      <li class="header-cart-item flex-w flex-t m-b-12">
        <div class="d-flex header-cart-item-img">
          <img src="assets/images/product/fashion/6.jpg" alt="IMG">
        </div>

        <div class="header-cart-item-txt p-t-8">
          <a href="#" class="header-cart-item-name m-b-18 hov-cl1 trans-04">
            Nixon Porter Leather
          </a>

          <span class="header-cart-item-info">
            1 x $17.00
          </span>
        </div>
      </li>

      <li class=" header-cart-item flex-w flex-t m-b-12">
        <div class="header-cart-item-img">
          <img src="assets/images/product/fashion/1.jpg" alt="IMG">
        </div>

        <div class="header-cart-item-txt p-t-8">
          <a href="#" class="header-cart-item-name m-b-18 hov-cl1 trans-04">
            Nixon Porter Leather
          </a>

          <span class="header-cart-item-info">
            1 x $17.00
          </span>
        </div>
      </li>

      <li class=" header-cart-item flex-w flex-t m-b-12">
        <div class="header-cart-item-img">
          <img src="assets/images/product/fashion/4.jpg" alt="IMG">
        </div>

        <div class="header-cart-item-txt p-t-8">
          <a href="#" class="header-cart-item-name m-b-18 hov-cl1 trans-04">
            Nixon Porter Leather
          </a>

          <span class="header-cart-item-info">
            1 x $17.00
          </span>
        </div>
      </li>


      <li class=" header-cart-item flex-w flex-t m-b-12">
        <div class="header-cart-item-img">
          <img src="assets/images/product/fashion/3.jpg" alt="IMG">
        </div>

        <div class="header-cart-item-txt p-t-8">
          <a href="#" class="header-cart-item-name m-b-18 hov-cl1 trans-04">
            Nixon Porter Leather
          </a>

          <span class="header-cart-item-info">
            1 x $17.00
          </span>
        </div>
      </li>


      <li class=" header-cart-item flex-w flex-t m-b-12">
        <div class="header-cart-item-img">
          <img src="assets/images/product/fashion/5.jpg" alt="IMG">
        </div>

        <div class="header-cart-item-txt p-t-8">
          <a href="#" class="header-cart-item-name m-b-18 hov-cl1 trans-04">
            Nixon Porter Leather
          </a>

          <span class="header-cart-item-info">
            1 x $17.00
          </span>
        </div>
      </li>
    </ul>

    <div class="w-full">
      <div class="header-cart-total w-full p-tb-40">
        Total: $75.00
      </div>

      <div class="header-cart-buttons flex-w w-full d-flex justify-content-between">
        <a href="shoping-cart.html" [routerLink]="['/pages/cart']"
          class="btn btn-solid flex-c-m stext-101 cl0 size-107 bg3 bor2 hov-btn3 p-lr-15 trans-04 m-r-8 m-b-10">
          View Cart
        </a>

        <a href="shoping-cart.html" [routerLink]="['/pages/checkout']"
          class=" btn btn-solid  flex-c-m stext-101 cl0 size-107 bg3 bor2 hov-btn3 p-lr-15 trans-04 m-b-10">
          Check Out
        </a>
      </div>
    </div>
  </div>
</div>