.tap-top {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    position: fixed;
    bottom: 50px;
    right: 30px;
    z-index: 8;
    display: none;
    color: #fff;
    text-align: center;
    background: #ff4c3b;
    border: none;
    font-size: 22px;
    padding: 7px;
    cursor: pointer;
}