

// .badge {
//     padding: 9px;
//     -webkit-border-radius: 9px;
//     -moz-border-radius: 9px;
//     border-radius: 9px;
//     background-color: #ff0000;
//   }
  
//   #lblCartCount {
//       font-size: 12px;
//       color: #fff;
//       padding: 0 5px;
//       vertical-align: top;
//       margin-left: -20px; 
//   }