<!-- <owl-carousel-o [options]="BlogSliderConfig" class="no-arrow">
  <ng-container *ngFor="let blog of blogs">
    <ng-template carouselSlide>
      <div class="col-md-12">
        <a [routerLink]="'/pages/blog/details'">
          <div class="classic-effect">
            <img [src]="blog.image" class="img-fluid" alt="blog">
            <span></span>
          </div>
        </a>
        <div class="blog-details">
          <h4>{{blog.date}}</h4>
          <a [routerLink]="'/pages/blog/details'">
            <p>{{blog.title}}</p>
          </a>
          <hr class="style1">
          <h6> {{ 'by:' +blog.by}} , {{ '2 Comment' }}</h6>
        </div>
      </div>
    </ng-template>
  </ng-container>
</owl-carousel-o> -->
<div id="blogCarousel" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner d-flex flex-row">
    <ng-container class="carousel-item " *ngFor="let blog of blogs;">
      <div class="row" style="width: 458.667px; margin: 0px 15px;">
        <a [routerLink]="'/pages/blog/details'">
          <div class="classic-effect" >
            <img [src]="blog.image" class="d-block w-100" alt="blog">
            <span></span>
          </div>
        </a>
        <div class="blog-details">
          <h4>{{blog.date}}</h4>
          <a [routerLink]="'/pages/blog/details'">
            <p>{{blog.title}}</p>
          </a>
          <hr class="style1">
          <h6>{{ 'by:' + blog.by }}, {{ '2 Comment' }}</h6>
        </div>
      </div>
    </ng-container>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#blogCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#blogCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
