// h4 , .card-subtitle {
//     color: #ff4c3b;
//     padding-bottom: 10px;
//     margin-bottom: 0;
//     margin-top: -3px;
//     font-size: 18px;
//     text-transform: capitalize;
//     font-weight: 400;
//     letter-spacing: 0.03em;
//     line-height: 1;
// }
// hr.style1 {
//     width: 75px;
//     height: 3px;
//     margin-top: 13px;
//     background-color: #ff4c3b;
//     text-align: center;
//     opacity: 1;
//     margin-left: auto;
//     margin-right: auto;
//     margin: 1rem 0;
//     color: inherit;
//     border: 0;
// }
// a {
//     transition: 0.5s ease;
//     text-decoration: none;
// }
// .blog-details p {
//     color: #222222;
//     font-size: 18px;
//     text-transform: uppercase;
//     font-weight: 700;
//     line-height: 1.5;
//     letter-spacing: 0.03em;
//     margin-top: 10px;
//     margin-bottom: 0;
//     transition: all 0.5s ease;
// }

// .blog-details h6 {
//     line-height: 1;
//     letter-spacing: 0.1em;
//     margin-bottom: 0;
//     font-size: 14px;
//     font-weight: 400;
//     color: #777777;
// }


